@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext);
@media (max-width: 479px) {
  body,
  html {
    width: 100%;
    min-width: 303px;
  }
  .wrapper {
    padding: 10px;
  }
  .header {
    background: #282d32;
  }
  .header_left_text {
    overflow: hidden;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .logo {
    width: 20%;
  }
  .notification_icons {
    vertical-align: top;
    margin-top: 10px;
    width: 60%;
    text-align: center;
  }
  .notification_icons button i {
    font-size: 40px;
  }
  .under_header_block {
    margin-top: 25px;
  }
  .menu_button {
    display: inline-block;
    font-size: 30px;
    width: 15%;
    vertical-align: top;
    margin-top: 12px;
  }
  .menu_button i {
    color: #4b5a64;
  }
  .post_time {
    float: right;
  }
  .mobile_menu {
    display: block !important;
    font-size: 0;
    border-top: #dce1e6 3px solid;
  }
  .mobile_menu a {
    display: inline-block;
    width: 33.3%;
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 8px 0 6px 0;
    position: relative;
  }
  .mobile_menu a i {
    color: #8c96a0;
    font-size: 20px;
    margin-right: 5px;
    vertical-align: sub;
  }
  .mobile_menu a:hover,
  .mobile_menu a.active {
    color: #ff0033;
    border-bottom: 2px solid #ff0033;
  }
  .mobile_menu a:hover i,
  .mobile_menu a.active i {
    color: #ff0033;
  }
  .mobile_menu .count_num {
    color: #ff0033;
  }
  .mobile_slider_block .slide .slide_text {
    bottom: 15px !important;
  }
  .mobile_slider_block .slide .slide_text span {
    font-size: 14px !important;
    line-height: 14px !important;
  }
  .post_user {
    font-size: 11px;
  }
  .post_time {
    font-size: 11px;
  }
  .post.gallery {
    font-size: 0;
  }
  .post.gallery .photo_thumb {
    overflow: hidden;
    display: inline-block;
    width: 48%;
    height: 110px;
    position: relative;
  }
  .post.gallery .photo_thumb:nth-of-type(1) {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .post.gallery .photo_thumb:nth-of-type(2) {
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .post.gallery .photo_thumb:nth-of-type(3) {
    margin-right: 2%;
    margin-tom: 2%;
  }
  .post.gallery .photo_thumb:nth-of-type(4) {
    margin-left: 2%;
    margin-top: 2%;
  }
  .post.gallery .photo_thumb img {
    position: absolute;
    height: 150%;
    top: -35%;
    left: -30%;
  }
  .text_photo .photo_thumb img {
    width: 100%;
  }
  .post_text_block {
    padding: 25px;
  }
  .post_text_header {
    color: #ff0033;
    font-size: 20px;
    margin: 0;
  }
  .post_text {
    font-size: 14px;
    margin-top: 10px;
  }
  .more_text {
    color: #ff0033;
    font-size: 15px;
  }
  .post_buttons {
    text-align: right;
    padding: 0 25px 10px 25px;
  }
  .post_buttons button {
    color: #9ba4ad;
    font-size: 14px;
    font-weight: bold;
    padding: 0 3px;
  }
  .post_buttons button i {
    font-size: 18px;
    vertical-align: middle;
  }
  .post.text .post_text_block {
    padding-top: 0;
  }
  .post.repost_text .post_text_block {
    padding-top: 0;
  }
  .post.repost_text .post_header,
  .post.repost_text .post_text_block {
    padding-left: 50px;
  }
  .repost_header {
    padding: 25px 25px 0 25px;
  }
  .repost_avatar {
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  .repost_avatar img {
    position: absolute;
    width: 100%;
  }
  .repost_name {
    font-weight: bold;
    color: #ff0033;
    display: inline-block;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  body,
  html {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  body,
  html {
    width: 100%;
  }
}
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.header_left_text {
  vertical-align: sub;
  display: inline-block;
  color: #8ba0ae;
}
.header_left_text i {
  margin-right: 5px;
  color: #ff0033;
}
.header_button {
  border-top: #8ba0ae 3px solid;
  border-bottom: #8ba0ae 3px solid;
  float: right;
}
.header_button i {
  color: white;
  font-size: 18px;
}
.messages_count {
  background: #f03;
  color: white;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  right: 0;
  top: -5px;
  padding: 4px 8px;
  font-size: 14px;
  border: 2px solid white;
}
.logo {
  display: inline-block;
}
.logo img {
  width: 100%;
}
.notification_icons {
  display: inline-block;
}
.notification_icons button {
  position: relative;
}
.notification_icons button i {
  color: #8c96a0;
}
.notification_icons .menu_button {
  display: none;
}
.search_field {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  padding: 15px 45px 15px 15px;
  width: 100%;
  outline: none;
  border: #d7dce1 1px solid;
  color: #8c96a0;
}
.search_block {
  position: relative;
  margin: 20px 0;
}
.search_block i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #8c96a0;
  font-size: 30px;
}
.mobile_menu {
  display: none;
}
.mobile_menu a {
  font-weight: bold;
}
.content {
  background: #dce1e6;
}
.mobile_slider_block .controls {
  width: 40px;
  padding: 25px 0;
  text-align: center;
  line-height: 14px;
  margin: 0 auto;
}
.mobile_slider_block .controls button {
  margin: 0;
  padding: 0;
  color: #8c96a0;
}
.mobile_slider_block .controls button.active i:before {
  content: "\f111";
}
.mobile_slider_block .slide {
  position: relative;
}
.mobile_slider_block .slide img {
  width: 100%;
}
.mobile_slider_block .slide .slide_text {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 88%;
}
.mobile_slider_block .slide .slide_text span {
  background: white;
  color: #ff0033;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  padding: 2px 0px;
  box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff;
  -webkit-box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff;
  -moz-box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff;
}
.post_date {
  color: #8c96a0;
  background: #c4c9cf;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  height: 10px;
  margin: 25px 0;
}
.post_date span {
  background: #dce1e6;
  box-shadow: 10px 0 0 #dce1e6;
  -webkit-box-shadow: 10px 0 0 #dce1e6;
  -moz-box-shadow: 10px 0 0 #dce1e6;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.post_avatar {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.post_avatar img {
  position: absolute;
  width: 100%;
}
.post {
  background: white;
  margin-top: 20px;
}
.post:nth-of-type(1) {
  margin-top: 0;
}
.post_user {
  display: inline-block;
  margin-top: 15px;
}
.post_user .user_name {
  font-weight: bold;
}
.post_user .user_group {
  color: #8c96a0;
}
.post_time {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  color: #8c96a0;
}
.post_header {
  padding: 25px;
}
.photo_thumb {
  position: relative;
}
.photo_thumb .last_photo_thumb {
  background: rgba(140, 150, 160, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.photo_thumb .last_photo_thumb .photo_plus_symbol {
  font-size: 110px;
  color: white;
  position: absolute;
  right: 0;
  top: 30px;
  line-height: 0;
  font-weight: 100;
}
.photo_thumb .last_photo_thumb .photo_count {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
